  "key": "{{ field['name'] }}",
  "name": "{{ field['description'] }}",
  "Value": "{{ field['name'] }}",
  "description": "{{ field['description'] }}",
  {%- if field['type'] == "list" %}
  "inputType": "SelectInput",
  {%- elif field['type'] == "number" %}
  "inputType": "FloatInput",
  {%- elif field['type'] == "object" %}
  "inputType": "ObjectInput",
  {%- else %}
  "inputType": "TextInput",
  {%- endif %}
  "page": {
    "key": "main"
  },
  "unique": false,
  "options": {
   {%- if field['type'] == "list" %}
    "selectInput" : {
        "values": [
        {%- for item in field['enum'] %}
         "{{ item }}"{%- if not loop.last  %},  {%-  endif  %}
         {%-  endfor  %}]
    }
   {%- elif field['type'] == "object" %}
    "objectInput" : {
        "children": [
            {%- for childField in field['children'] %}
            {
                {% with field=childField %}
                    {% include 'fields.j2' %}
                {% endwith %}
            }
            {%- if not loop.last  %},  {%-  endif  %}
            {%-  endfor  %}
        ]
    }
    {%- elif field['type'] == "number" %}
    "floatInput": {
      "default": {{ field['default'] }}
    }
   {%- else %}
    "textInput": {
      "notEmpty": {{ field['required']|lower }}
      {%- if field['example'] is defined and field['example']|length -%},
      "example": "{{ field['example'] }}"
      {%- endif %}
    }
   {%- endif %}
  }
